<!DOCTYPE html>
<!-- home page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scopus Articles</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        h1 {
            font-family: Arial, sans-serif;
            color: #623300;
            text-align: center;
            margin-bottom: 40px;
        }
        h2 {
            color: #007bff;
            margin-bottom: 5px;
        }
        h6 {
            color: #767f89;
            text-align: center;
            margin-bottom: 5px;
            font-size: 10px;
        }
        b {
            display: block;
            text-align: center;
            font-size: 20px;
            margin-bottom: 40px;
        }
        li {
            margin-bottom: 10px;
            color: #002f62;
        }
        .article {
            background-color: #ffffff;
            border: 1px solid #dee2e6;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <img src="search.jpg" height="100" alt="">
    <h1>List of all articles from Scopus</h1>
    <h6>{{ my_string }}</h6>
    <ul>
        {% for articles in articleList %}
            <div class="article">
                <h2>{{ articles.title }}</h2>
                <strong>Publication Date:</strong>
                <li>{{ articles.coverDate }}</li>
                <strong>Abstract:</strong>
                <li>{{ articles.abstract }}</li>
            </div>
        {% endfor %}
    </ul>
</body>
</html>
