<!DOCTYPE html>
<html>
<head>
    <title>Reproducibility Score Assessment</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 5px 40px 40px 40px;
            background-color: #f4f4f9;
            color: #333;
            transition: background-color 0.3s, color 0.3s;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 40px;
        }
        nav a {
            text-decoration: none;
            color: #333;
            padding: 10px 20px; /* Adjust padding to increase space */
        }
        nav a:last-child {
            margin-right: 0;
        }
        nav a:hover {
            color: #000;
        }
        nav a:before {
            margin-right: 10px;
            font-size: 16px;
        }
        nav a[href="/"]:before {
            content: "\1F3E0";
        }
        nav a[href="/score"]:before {
            content: "\1F4CA";
            margin-left: 20px; /* Add margin to the left of Score button */
        }
        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            width: 100%;
            min-width: 100px;
        }
        input, button {
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        textarea#text_input {
            min-height: 100px;
            max-height: 800px;
            width: 100%;
            resize: none; /* Prevent the user from manually resizing */
            overflow: auto; /* Add scrollbar when content exceeds max height */
        }
        button {
            cursor: pointer;
            background-color: #5c67f2;
            color: white;
            border: none;
        }
        button:hover {
            background-color: #4a54e1;
        }
        .analysis-result {
            background: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: background-color 0.3s, color 0.3s;
        }
        .spinner {
            border: 4px solid rgba(0,0,0,0.1);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border-left-color: #09f;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <script>
        function autoResizeInput() {
            var input = document.getElementById('text_input');
            if (input.scrollHeight > input.clientHeight && input.scrollHeight <= 800) {
                input.style.height = input.scrollHeight + 'px';
            }
        }
        function showSpinner() {
            var button = document.getElementById('button-text');
            var spinner = document.getElementById('spinner');
            button.textContent = ' '; // Change button text
            spinner.style.display = 'inline-block'; // Show spinner
        }
    </script>
</head>
<body>
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/score">Score</a>
            <!-- <a href="/help">Help</a> -->
        </div>
    </nav>
    {% if page == 'home' %}
    <div>
        <h1>Reproducibility Assessment of Academic Papers</h1>
        <p>Welcome to our website, developed by SciNest, 
            a team of Mechanical Engineering students from National Cheng Kung University. 
            We are committed to advancing scientific reproducibility,
            by seamlessly integrating cutting-edge technologies into our user-friendly tools.
        </p>
    </div>
    <div>
        <h2>How to Use Our Reproducibility Scoring Service</h2>
        <ul>
            <li>Click on <a href="/score">Score</a> at the top of our website.</li>
            <li>There are two ways to analyse your text:
            <ol>
                <li>Input the text in the text box</li>
                <li>Attach a pdf.</li>
            </ol>
            </li>
            <li>Submit for Analysis: After inputting your paper, press the 'Analysis' button to begin the analysis. 
                Our web service, powered by Llama3, will process the document.</li>
            <li>View Your Score: The reproducibility score will be generated automatically and displayed on your screen shortly after submission. 
                This score evaluates how likely the results of the paper can be independently replicated, based on various factors recognized by the AI.</li>
            <li>Understand Your Score: Alongside the reproducibility score, you'll receive a brief explanation of what the score means, helping you understand the aspects of the paper that influenced its reproducibility rating.</li>
            <li>Further Actions: If you need to analyze another paper, simply repeat the process by uploading a new PDF file.</li>
        </ul>
        <p>We are dedicated to making scientific research more transparent and reliable. If you have any questions or need further assistance, please contact our support team through the information provided in the 'Contact Information' section of our website.</p>
    </div>
    <div>
        <h2>About Us</h2>
        <p>Meet Our Team:</p>
        <ol>
            <li>David Hernandez</li>
            <li>Rex Lee</li>
            <li>Louis</li>
            <li>Dieter Rahmadiwan</li>
        </ol>
        <p>
            Our goal is to bridge the gap between academic research and practical technological application, ensuring the reliability and reproducibility of scientific findings. Thank you for supporting our journey and using our platform.
        </p>
    </div>
    <div>
        <h2>Contact Information</h2>
        For any inquiries or support, please do not hesitate to contact us:
        <ul>
            <li>David Hernandez: david.hernandez@nordlinglab.org</li>
            <li>Rex Lee: rex.lee@nordlinglab.org</li>
        </ul>
        We look forward to assisting you.
    </div>
    <div>
        <h2>License</h2>
        <p>This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank" rel="noopener noreferrer">Creative Commons Attribution 4.0 International License (CC BY 4.0)</a>. You are free to share, copy, redistribute, and adapt the material in any medium or format, as long as you give appropriate credit, provide a link to the license, and indicate if changes were made.</p>
    </div>
    
    {% elif page == 'score' %}
    <h1>Reproducibility Assessment Score</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <textarea id="text_input" name="text_input" placeholder="Enter text to be analysed..." oninput="autoResizeInput()"></textarea>
        <input type="file" name="file_input" accept=".pdf" />
        <button type="submit" onclick="showSpinner()">
            <span id="button-text">Analyse</span>
            <div id="spinner" class="spinner" style="display: none;"></div>
        </button>
    </form>
    {% endif %}
    {% if analysis_result %}
    <div class="analysis-result">
        <h2>Analysis Result:</h2>
        <div>{{ analysis_result | safe }}</div>
    </div>
    {% endif %}
</body>
</html>
