<div class="container mt-5">
    <h2>Submit Reproducibility Score</h2>
    <form method="POST" action="/submit-score">
        <div class="mb-3">
            <label for="reproducibilityScore" class="form-label">Reproducibility Score:</label>
            <textarea id="reproducibilityScore" name="reproducibilityScore" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Score</button>
    </form>
</div>
