<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SciInfo Webserver</title>
    <style>
        table, tr, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Input your contents</h1>
    <p>date: {{time}}</p>
    <!--列表-->
    <h2>無序列表</h2>
    <ul>
        <li>CD</li>
        <li>DVD</li>
    </ul>
    <h2>有序列表</h2>
    <ol>
        <li>CD</li>
        <li>DVD</li>
    </ol>
    <!--表格-->
    <table>
        <tr>
            <th>星球</th>
            <th>海洋</th>
            <th>沙漠</th>
        </tr>
                <tr>
            <th>地球</th>
            <th>太平洋</th>
            <th>薩哈拉</th>
        </tr>
    </table>
    <!--超連結-->
    <a href="https://chatgpt.com/auth/login?sso=&oai-dm=1" target="_blank">chatGPT</a>
    <!--錨點-->
    <h1>目錄</h1>
    <ul>
        <li><a href="#bird">跳轉到鳥類</a></li>
        <li><a href="#dog">跳轉到狗類</a></li>
    </ul>
    <h2 id="bird">鳥類區域</h2>
    <p>關於鳥類的描述</p>
    <h2 id="dog">狗類區域</h2>
    <p>關於狗類的描述</p>
    <!--圖片-->
    <img src="/static/img/123.jpg" height="100" alt="">
    <img src="/static/img/favicon.png" height="100" alt="">
    <img src="/templates/favicon.png" height="100" alt="">
    <!--文字輸入框-->
    <form action="XXX.com/index.php" method="post">
        <label for="username">使用者名稱</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">密碼</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="提交">
    </form>
<!--數字和日期-->
    <h1>日期</h1>
    <form action="">
        <label for="">日期</label>
        <input type="date" name="date" id="date">
        <br>
        <label for="天數"></label>
        <input type="number" name="" id="" min="1" max="10">
        <br>
        <input type="submit" value="提交">
    </form>
<!--輸入多行文字-->
    <label for="comment">輸入文字</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="upload">

<!--嵌入網頁-->
    <h1>我是第一個網頁</h1>
    <iframe src="/static/others/home.html">這是一段文字</iframe>
<!--    <iframe width="560" height="315" -->
<!--            src="https://www.youtube.com/embed/fa214Ct6t9w?si=9KCCvTcQZpeIgEeP" -->
<!--            title="YouTube video player" -->
<!--            frameborder="0" -->
<!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" -->
<!--            referrerpolicy="strict-origin-when-cross-origin" -->
<!--            allowfullscreen>-->
<!--    </iframe>-->
</body>
</html>