<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        h1 {
            color: #343a40;
            text-align: center; /* 將標題居中 */
        }
        form {
            background-color: #ffffff;
            border: 1px solid #dee2e6;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px; /* 增加寬度 */
            margin: 0 auto;
        }
        label {
            display: block;
            margin-bottom: 10px;
            color: #495057;
        }
        textarea {
            width: 95%;
            height: 200px; /* 增加高度以提高可見性 */
            padding: 15px; /* 增加填充 */
            margin-bottom: 20px;
            border: 3px solid #ced4da;
            border-radius: 5px;
            font-size: 16px; /* 增加字體大小 */
            resize: vertical; /* 允許垂直調整大小 */
        }
        button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        select {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <ul>
        <h1>List all articles from Scopus</h1><br/>
        <form action="{% url 'submit_message' %}" method="post">
            {% csrf_token %}
            <label for="message">Enter your search string:</label>
            <textarea id="message" name="message"></textarea>

            <br>
            <label for="year1">Start from:</label>
            <select id="year1" name="year1"></select>

            <label for="year2">End to:</label>
            <select id="year2" name="year2"></select>
            <button type="submit">Submit</button>
            <script>
                function populateYearSelect(id) {
                    const select = document.getElementById(id);
                    for (let year = 2001; year <= 2025; year++) {
                        const option = document.createElement('option');
                        option.value = year;
                        option.textContent = year;
                        select.appendChild(option);
                    }
                }

                populateYearSelect('year1');
                populateYearSelect('year2');
            </script>
        </form>
    </ul>
</body>
</html>
